/* partie container les 3 photos*/
#container {
    display: flex; /*cote à cote*/
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    height: 150px;
}

h4{
    font-size: 33px;
    color: grey;
}
.strong{
    font-size: 12px;  
}
p
{
    display: inline;
}

/*partie nav*/


































/*main partie*/
#center{
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 20px;
    justify-content: space-around;
}

#left_block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#right_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: black;
    color: white;
    min-width: 200px;
    justify-content: space-between;
}





































/* \/CSS Ced\/ */























