/* partie container les 3 photos*/
#container {
    display: flex; /*cote à cote*/
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    height: 150px;
}

h4{
    font-size: 33px;
    color: grey;
}
.strong{
    font-size: 12px;  
}
p
{
    display: inline;
}

/*partie nav*/


































/*main partie*/
.center{
    display: flex;
    flex-direction: row;
}
.left_block{
    width: 60%;
    padding:20px;
}
img{
    width: 100%;
}
.l_down{
    display: flex;
    flex-direction: row;
}
.l_block1{
    width:70%;
}
.right_block{
    background-color: black;
    color:white;
    padding:20px;
    margin:20px;
}
h2{
    color:yellow;
}
li{
    list-style-type: none;
}


































/* \/CSS Ced\/ */























